body {
  font-family: "Microsoft JhengHei", "微軟正黑體", "Heiti TC", "黑體-繁", sans-serif;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  margin-left: 0.5em;
}

.l-vert {
  writing-mode: vertical-rl;
}

img {
  max-height: 65vh;
}
